<!doctype html>  
<html lang="en">  
    <head>

    </head>
    <body>
        <div style="display: flex;">
        	
        	<div id="users" style="width: 200px; height: 400px;">users</div>
        	<div id="messages" style="width: 220px; height: 400px; border:1px solid;"></div>
        </div>

        <form id="form" id="chat_form" style="margin-left: 200px;">
            <input id="chat_input" type="text">
            <input type="submit" value="Send">
        </form>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script>  
     var currentUser;
	 var $userslist = $('#users');
	 var socket = io.connect('http://localhost:3000');
	  socket.on('connect', function(data) {
	    socket.emit('joinoperator', 'operator');
	 });

/* socket.on('messages', function(data) {
                alert(data);
        });*/

 socket.on('messages', function(data) {

         $('#messages').append(data['msg']+ "<br/>");
   });

 socket.on('broadnewreq', function(data) {
         var id = "#"+data.from;
         $(id).css('color', 'red');
   });

 socket.on('updateusers',function(data){
 		console.log(data);
        var html="";

        for(var key in data){

            html += "<a id='"+data[key]['userid']+"' href=javascript:selectuser('"+data[key]['userid']+"')>"+data[key]['username'] + "</a></br>";

        }

        $userslist.html(html);

 });
function selectuser(cusername){
    //alert(cusername);
    currentUser = cusername;
    socket.emit('selectuser', currentUser);
    $('#messages').empty();
}

 $('form').submit(function(e){
     e.preventDefault();

     var message = $('#chat_input').val();
	var myObject = {
		msg: message,
		from: "operator",
		to: currentUser
	};
	//alert(message);
	socket.emit('messages', myObject);
	$('#chat_input').val('');
 });


</script>
    </body>
</html>  